흉부CT프로젝트_Reconstruction_홍창희,한채원.pptx
.vscode
temp_data
data_DICOM
LDCT_PNG
nifti
ULDCT_PNG
data
trails 
*.pth 
*.csv
*.yaml
*.yml
runs/
logsResnet50_Edena_Binary_CL200withAgumentation2_5_16_2019_HU200/
